{% extends 'base.html' %}
{% block title %}TaskManager{% endblock %} 
{% block additionalload %}
  {% verbatim  %}
  <!--<script>
    window.data = {
      post: {{post_data | safe}},
      get: {{get_data | safe}},
    }
  </script>-->
  {% endverbatim %}
  <script defer="defer" src="static/js/chunk-vendors.ca531689.js"></script>
  <script defer="defer" src="static/js/app.b20226dd.js"></script>
  <link href="static/css/app.bf008658.css" rel="stylesheet">
  <script>var url = "{% url 'TaskManager:test' %}"</script>
{% endblock %}
{% block content %}
  {% verbatim  %}
  <div id="app">

  </div>
  {% endverbatim %}
{% endblock %}